@import 'normalize.css';
:root {
    --text-color: #000;
    --default-layout-width: 1200px;
    --default-layout-horizontal-spacer: 24px;
    --default-layout-header-height: 80px;
    --default-layout-sidebar-width: 280px;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
