.search {
    width: 280px;
    height: 32px;
    display: flex;
    position: relative;
    border-bottom: 1px solid #ccc;
    input {
        font-size: 1.6rem;
        line-height: 31px;
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        background-color: #3498db;
        caret-color: var(--while-color);
        color: var(--while-color);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
}
.search-btn {
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 4px;
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
    }
}
.result-search {
    width: 254px;
}
.result-title {
    margin-left: 4px;
}
.loading {
    position: absolute;
    right: 4px;
    top: 58%;
    transform: translateY(-50%);
    color: #fff;
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
