.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: #3498db;
    display: flex;
    justify-content: center;
}
.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//action
.actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.email-icon {
    position: relative;
    background-color: #3498db;
    font-size: 3.2rem;
    color: var(--while-color);
    border: none;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        top: 2px;
        right: -8px;
        height: 32px;
        width: 1px;
        background-color: #ccc;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
    cursor: pointer;
}
